[submodule "lib/common_cpp"]
	path = lib/common_cpp
	url = https://github.com/jerelbn/common_cpp.git
[submodule "lib/geometry"]
	path = lib/geometry
	url = https://github.com/superjax/geometry.git
[submodule "lib/feature-tracker"]
	path = lib/feature-tracker
	url = https://github.com/jerelbn/feature-tracker.git
