[submodule "lib/common_cpp"]
	path = lib/common_cpp
	url = git@magiccvs.byu.edu:Jerel/common_cpp.git
[submodule "lib/geometry"]
	path = lib/geometry
	url = git@github.com:superjax/geometry.git
[submodule "lib/feature-tracker"]
	path = lib/feature-tracker
	url = git@github.com:jerelbn/feature-tracker.git
[submodule "matlab/yamlmatlab"]
	path = matlab/yamlmatlab
	url = git@magiccvs.byu.edu:Jerel/yamlmatlab.git
